body {
  font-family: "Inter";
}

@media (min-width: 480px) {
  .container-small {
    width: 95%;
    max-width: 691;
  }
}
@media (min-width: 768px) {
  .container-small {
    width: 90%;
    max-width: 860px;
  }
}
@media (min-width: 992px) {
  .container-small {
    width: 72%;
    max-width: 860px;
  }
}
@media (min-width: 1200px) {
  .container-small {
    width: 860px;
  }
}

.container-small,
.container-large {
  max-width: 100%;
}
a {
  color: #0477db;
}

.no-a {
  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
  }
}

.header {
  h1 {
    color: #0477db;
    font-size: 24px;
    font-weight: 600;
  }
  .intro {
    gap: 40px;
  }
  font-size: 20px;
  font-weight: 400;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  font-family: "Inter";
}

.page {
  min-height: 100%;
  min-height: 100vh;

  .row {
    padding-bottom: 40px;

    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
  }

  .card.shadow-lg {
    border: 1px solid #d9d9d9;
  }

  .card {
    border-radius: 0px;
    display: inline-block;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #f9f9f9;
    border: 0px solid #d9d9d9;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;

    .card-img-background {
      display: table;
      height: 75%;
      width: 100%;
      background-color: blue;
    }

    .card-img-top {
      margin-left: auto;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-right: auto;
      width: 80%;
      transform: translateX(10%);
    }
    .card-body {
      padding: 30px;
      .card-title {
        font-style: normal;
        font-weight: 700;
      }
      .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .static {
      position: absolute;
      opacity: 100;
    }
    .static:hover {
      opacity: 0;
    }
    .active {
      opacity: 0;
    }
    .active:hover {
      opacity: 100;
    }
  }

  .topics {
    font-weight: bold;
    color: #0477db;
    line-height: 24px;
    font-size: 20px;
  }
  h1 {
    font-size: 64px;
    font-weight: bold;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  h5 {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
  }
  h6 {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 16px;
  }
}
.section {
  font-family: "Roboto";
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  li {
    margin: 15px 0;
  }
  h1 span {
    font-family: "Inter";
    padding: 8px 16px;
    font-size: 20px;
    color: white;
    background-color: #0477db;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  img {
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0;
    width: 125%;
    transform: translateX(-12.5%);
  }
  .subsection {
    margin-bottom: 20px;
  }
}
.center {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:active {
    color: white;
    text-decoration: none;
  }

  .row {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  height: 90px;

  background: #147fdd;
  color: white;
}

.header-img-top {
  margin-left: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-right: auto;
  width: 80%;
  transform: translateX(10%);
}

.breaker {
  font-size: 14px;
  img {
    padding: 10px 0;
  }
  h2 {
    font-size: 18px;
    margin-top: 60px;
    text-align: center;
  }
  h6 {
    text-align: end;
  }
}

.poem {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  p {
    line-height: 50px;
    margin-bottom: 24px;
  }
}

.inspi {
  padding: 0px 30px;
  margin: 0px 60px;
  max-width: 360px;
  width: 100%;
}
