body {
  font-family: "Inter";
}

@media (min-width: 480px) {
  .container-small {
    width: 95%;
    max-width: 691;
  }
}
@media (min-width: 768px) {
  .container-small {
    width: 90%;
    max-width: 860px;
  }
}
@media (min-width: 992px) {
  .container-small {
    width: 72%;
    max-width: 860px;
  }
}
@media (min-width: 1200px) {
  .container-small {
    width: 860px;
  }
}
.container-small,
.container-large {
  max-width: 100%;
}

a {
  color: #0477db;
}

.no-a a:link {
  color: black;
  text-decoration: none;
}
.no-a a:visited {
  color: black;
  text-decoration: none;
}
.no-a a:hover {
  color: black;
  text-decoration: none;
}
.no-a a:active {
  color: black;
  text-decoration: none;
}

.header {
  font-size: 20px;
  font-weight: 400;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  font-family: "Inter";
}
.header h1 {
  color: #0477db;
  font-size: 24px;
  font-weight: 600;
}
.header .intro {
  gap: 40px;
}

.page {
  min-height: 100%;
  min-height: 100vh;
}
.page .row {
  padding-bottom: 40px;
}
.page .row a:link {
  text-decoration: none;
}
.page .row a:visited {
  text-decoration: none;
}
.page .row a:hover {
  text-decoration: none;
}
.page .row a:active {
  text-decoration: none;
}
.page .card.shadow-lg {
  border: 1px solid #d9d9d9;
}
.page .card {
  border-radius: 0px;
  display: inline-block;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #f9f9f9;
  border: 0px solid #d9d9d9;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
.page .card .card-img-background {
  display: table;
  height: 75%;
  width: 100%;
  background-color: blue;
}
.page .card .card-img-top {
  margin-left: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-right: auto;
  width: 80%;
  transform: translateX(10%);
}
.page .card .card-body {
  padding: 30px;
}
.page .card .card-body .card-title {
  font-style: normal;
  font-weight: 700;
}
.page .card .card-body .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.page .card .static {
  position: absolute;
  opacity: 100;
}
.page .card .static:hover {
  opacity: 0;
}
.page .card .active {
  opacity: 0;
}
.page .card .active:hover {
  opacity: 100;
}
.page .topics {
  font-weight: bold;
  color: #0477db;
  line-height: 24px;
  font-size: 20px;
}
.page h1 {
  font-size: 64px;
  font-weight: bold;
}
.page h2 {
  font-size: 24px;
  font-weight: bold;
}
.page h5 {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}
.page h6 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 16px;
}

.section {
  font-family: "Roboto";
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}
.section li {
  margin: 15px 0;
}
.section h1 span {
  font-family: "Inter";
  padding: 8px 16px;
  font-size: 20px;
  color: white;
  background-color: #0477db;
}
.section h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.section img {
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0;
  width: 125%;
  transform: translateX(-12.5%);
}
.section .subsection {
  margin-bottom: 20px;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 90px;
  background: #147fdd;
  color: white;
}
.footer a:link {
  color: white;
  text-decoration: none;
}
.footer a:visited {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: white;
  text-decoration: none;
}
.footer a:active {
  color: white;
  text-decoration: none;
}
.footer .row {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-img-top {
  margin-left: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-right: auto;
  width: 80%;
  transform: translateX(10%);
}

.breaker {
  font-size: 14px;
}
.breaker img {
  padding: 10px 0;
}
.breaker h2 {
  font-size: 18px;
  margin-top: 60px;
  text-align: center;
}
.breaker h6 {
  text-align: end;
}

/*# sourceMappingURL=style.css.map */
